meta(name="viewport", content="width=device-width, initial-scale=1")
meat(charset="utf-8")
link(href="/js/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
link(href="/js/bower_components/leaflet/dist/leaflet.css", rel="stylesheet")
link(href="/js/bower_components/leaflet-dvf/dist/css/dvf.css", rel="stylesheet")
link(href="/js/bower_components/vis/dist/vis.min.css", rel="stylesheet")
link(href="/js/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css", rel="stylesheet")
link(href="/css/example.css", rel="stylesheet")
link(href="/css/viewer.css", rel="stylesheet")
link(href="/js/bower_components/sidebar-v2/css/leaflet-sidebar.css", rel="stylesheet")
//- script(type='text/javascript', src='/js/bower_components/jquery/dist/jquery.min.js')
script(src="//cdn.bootcss.com/jquery/1.11.1/jquery.js")

script(type='text/javascript', src='/js/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/js/bower_components/leaflet/dist/leaflet.js')
script(type='text/javascript', src='/js/bower_components/leaflet-dvf/dist/leaflet-dvf.js')
script(type='text/javascript', src='/js/bower_components/leaflet-dvf/src/leaflet.dvf.utils.js')
script(type='text/javascript',src='/js/bower_components/angular/angular.min.js')
script(type='text/javascript',src='/js/bower_components/geojson/geojson.min.js')
script(type='text/javascript',src='js/bower_components/angular-file-upload/dist/angular-file-upload.js')
script(type='text/javascript',script='/js/bower_components/Split/split.js')
script(type='text/javascript',src='/js/bower_components/vis/dist/vis.js')
script(type='text/javascript',src='/js/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js')
script(type='text/javascript',src='/js/bower_components/angular-bootstrap-contextmenu/contextMenu.js')
script(type= 'text/javascript',src='/js/bower_components/sidebar-v2/js/jquery-sidebar.min.js')
script(type= 'text/javascript',src='/js/bower_components/sidebar-v2/js/leaflet-sidebar.min.js')
script(type= 'text/javascript',src='/js/bower_components/underscore/underscore.js')
script(type= 'text/javascript',src='/js/bower_components/backbone/backbone.js')

