extends ../layout

block content
  .container
    .row
      .col-md-5
        form(method="POST", action="/user/signup")
          .modal-body
            .form-group
              label(for="signupName") 用户名
              input#signupName.form-control(name="name", type="text",placeholder="数字字母下划线组合",pattern="[a-zA-Z0-9_\.]+",required,maxlength="15")
            .form-group
              label(for="signupPassword") 密码
              input#signupPassword.form-control(name="password", type="password",required,maxlength="15")
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") 关闭
            button.btn.btn-success(type="submit") 注册